@charset "UTF-8";

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.icon-stash_arrow-up {
  mask-image: url(stash_arrow-up.svg);
  -webkit-mask-image: url(stash_arrow-up.svg);
}
.icon-arrowLeft{
    mask-image: url(arrowLeft.svg);
  -webkit-mask-image: url(arrowLeft.svg);
}
.icon-arrowDown{
      mask-image: url(arrowDown.svg);
  -webkit-mask-image: url(arrowDown.svg);
}

.icon-UarrowLeft{
      mask-image: url(UarrowLeft.svg);
  -webkit-mask-image: url(UarrowLeft.svg);
}